* {
    color: rgb(0, 0, 0);
    font-family: 'Saira', sans-serif;
    
}

body {
    background-image: linear-gradient(to bottom right, #4310b5, #7448dd, #b494f3, #cbc1ef);
}

section {
    background-color: #eee9f7;
    border-radius: 1.5rem;
}

h1 {
    color: #3f4a88;
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
}

.text{
    text-indent: 30%;
}


.title-profile {
    text-indent: 4%;
}

.ul-profile {
    margin-left: 3%;
    font-size: 15px;
    list-style-type: circle;
}

a {
    text-decoration: none;
}

p {
    text-indent: 2em;
}


.minor li {
    font-size: 13px;
    font-style: italic;
    font-weight: 900;
    list-style-type:square;
}

@media (max-width: 799px) {
    body {
        margin: .1em;
    }
    
    section {
        margin: 2em;
        padding: 2em;
    }
    
}

@media (min-width: 800px){
    body {
        margin: .1em;
    }
    
    section {
        margin: 2em;
        padding: 2em;
    }
}

@media (min-width: 1200px) {
    body {
        margin-left: 3em;
        margin-right: 3em;
        
    }
    
    section {
        margin: 3.5em;
        padding: 1.5em;
    }

}

